
body {
    font-family: "Work Sans", serif;
    font-size: 14px;
    display: flex;
    flex-flow: column;
    height: 100%;
    overflow: hidden;
    color: #757575;
    /*//background-color: black;*/
}

header {
    color: #fff;

}

/* demo styles
--------------------------------------------- */

/** {*/
/*    margin:0;*/
/*    padding:0;*/
/*}*/

/*body {*/
/*    font: 100% / 1.5 Arial;*/
/*}*/

#bg {
    height: 100vh;
    width: 100vw;
    /*background-color: #00fff3;*/
    position: absolute;
    left: 0;
    top: 0;
}

nav {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    width: min-content;
    height: max-content;
    mix-blend-mode: difference;
    font-weight: bolder;
    /*display: flex;*/
    /*justify-content: center;*/
}

/*nav li {*/
/*    margin: 10px;*/
/*}*/

nav a {
    /*writing-mode: vertical-rl;*/
    color: rgb(255, 255, 255);
    margin: 10px 0 10px;
    display: block;
    width: max-content;
    line-height: 2;
    text-decoration: none;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 11px;
    /*background-color: #dc0033;*/
    padding-left: 10px;
}

nav a.active {
    background-color: #dc0033;
}

/* centre the content in the parallax layers */
.title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /*color: var(--light-color);*/
}

/* Parallax base styles
--------------------------------------------- */

.parallax {
    //font-size: 200%;
    height: 100vh;
    /*width: 100%;*/
    /*height: 100%;*/
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 1px;
    perspective-origin: 0 0;
    position: relative;
    scroll-behavior: smooth;
    /*border: 1px solid #000;*/
    /*transform-style: preserve-3d;*/
}

.assembly {
    /*position: absolute;*/
    /*top: 50%; left: 50%;*/
    perspective: 1px;
    perspective-origin: 0 0;
    transform-style: preserve-3d;
}

.parallax__layer {
    //height: 100vh;
    //height: min-content;
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    transform-origin: 0 0;
    /*transform: translateZ(-2px) scale(3);*/
    /*transform: translateZ(0px);*/
    position: relative;

    /*background-color: rgb(12, 0, 76);*/

    color: var(--light-color);
    display: grid;
    grid-template-rows: minmax(min-content, 100vh);
}

[data-color-tone="dark"] {
    color: var(--dark-color);
}

.parallax__group {
    position: relative;
    height: 100vh;
    /*transform-style: preserve-3d;*/
}

@keyframes fadeInFromNone {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

[data-layer-color="about"] {
    background-image: linear-gradient(
                    135deg,
                    #00091f, #001340
    );
    animation: fadeInFromNone 1s 1;
}

// Portfolio about

.parallax__layer--back {
    /*transform: translateZ(-1px) scale(2);*/
    transform: translateZ(0);
    /*background-color: rgb(0, 255, 255);*/

    /*background-image: linear-gradient(*/
    /*        135deg,*/
    /*        #00091f, #001340*/
    /*);*/

    /*background-image: linear-gradient(*/
    /*        135deg,*/
    /*        #030010, #0c004c*/
    /*);*/

    /*background: #A1FFCE;  !* fallback for old browsers *!*/
    /*background: linear-gradient(to right, #FAFFD1, #A1FFCE); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/


    z-index: 21;
    display: grid;
    justify-items: center;
    align-items: center;
}


.parallax__layer--back:before {
    background-image: var(--bg-color-01);
    /*background-color: var(--bg-color-01);*/
    width: 120%;
    height: 110%;
    content: "";
    position: absolute;
    filter: blur(18px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.img_details_cntnr {
    position: relative;
    margin: 20px 0;
    /*top: 20%;*/
    /*left: 100px;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    /*width: 60%;*/
    display: grid;
    grid-template-columns: minmax(250px, 300px) min-content;
    grid-template-rows: minmax(100px, 400px);
    grid-gap: 20px;

    &::before {
        content: "Mohamed";
        font-family: "Times New Roman";
        font-size: 56vh;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: rgba(245, 222, 179, 0.06);
        text-transform: uppercase;
    }

    .portfolio_image {
        /*width: 300px;*/
        /*height: 500px;*/
        position: relative;
        display: flex;

        .img-box {
            //border: 4px solid rgba(255, 255, 255, 0.15);
            position: absolute;
            width: 274px;
            height: 450px;
            top: -120px;
            left: -113px;
            z-index: 0;
            /*background-image:
                    repeating-linear-gradient(
                                    45deg,
                                    rgba(255, 255, 255, 0.15),
                                    rgba(255, 255, 255, 0.15) 10px,
                                    transparent 10px,
                                    transparent 20px
                    );*/

            background-image: repeating-linear-gradient(
                            45deg,
                            rgba(255, 255, 255, 0.3) 0px,
                            rgba(255, 255, 255, 0.3) 2px,
                            transparent 2px,
                            transparent 30px);
        }

        /*background-color: #353535;*/

        @keyframes slide {
            0% {
                transform: rotateY(10deg) rotateX(20deg);
            }
            50% {
                transform: rotateY(20deg) rotateX(30deg);
            }
            100% {
                transform: rotateY(0deg) rotateX(0deg);
            }
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url("Photos Editing/Me.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: left;
            z-index: 1;
            /*filter: grayscale(100%);*/
            /*filter: blur(10px);*/
        }
    }

    .portfolio_dtl {
        //transform-origin: 0 0;
        //transform: translateZ(-1px) scale(2);
        /*width: min-content;*/
        /*height: 500px;*/

        //background-color: #1e1e1e;

        /*padding: 50px 0 0 20px;*/
        display: grid;
        align-items: center;

        div {
            color: var(--light-color);
            font-size: 2.4rem;
        }

        .portfolio_dtl_sub_cntnr {
            /*color: wheat;*/

        }

        .name {
            /*color: wheat;*/
            /*position: absolute;*/
            font-size: 8rem;
            white-space: nowrap;
            font-family: 'Sacramento', sans-serif;
            left: -100px;
            position: relative;
            /*mix-blend-mode: difference;*/
            z-index: 1;
        }

        .name:before, .name:after {
            display: block;
            content: 'Mohamed Attache';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            opacity: .8;
        }

        .name:after {
            color: #ff3073;
            z-index: -2;
        }

        .name:before {
            color: #54fff7;
            z-index: -1;
        }

        @at-root {
            :root {
                --trans: 2px;
            }
        }


        @keyframes glitch {
            0% {
                transform: translate(0);
            }
            20% {
                transform: translate(calc(var(--trans) * -1), var(--trans));
            }
            40% {
                transform: translate(calc(var(--trans) * -1), calc(var(--trans) * -1));
            }
            60% {
                transform: translate(var(--trans), var(--trans));
            }
            80% {
                transform: translate(var(--trans), calc(var(--trans) * -1));
            }
            to {
                transform: translate(0);
            }
        }

        .name:before {
            animation: glitch .3s cubic-bezier(.25, .46, .45, .94) both infinite;
        }

        .name:after {
            animation: glitch .3s cubic-bezier(.25, .46, .45, .94) reverse both infinite;
        }

        .job {
            /*color: rgba(255, 255, 255, 0.45);*/
            /*color: wheat;*/
            position: relative;
        }

        .desc {
            /*font-family: IstokWeb, serif;*/
            font-size: 1.6rem;
            color: rgba(245, 222, 179, 0.5);
            margin-top: 2rem;
            line-height: 1.5;
            //text-align: center;
        }

    }
}

[data-layer-color="expertise"] {
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
    animation: fadeInFromNone 1s 1;
}

// Portfolio work

.parallax__layer--base {
    transform: translateZ(-1px) scale(2);
    /*transform: translateZ(0);*/
    /*background-color: rgb(255, 0, 46);*/
    z-index: 20;

    /*background-color: #FAACA8;*/
    background-image: var(--bg-color-02);
    //display: flex;
    //justify-content: center;
    //align-content: center;

    /*background:*/
    /*        linear-gradient(red, transparent),*/
    /*        linear-gradient(to top left, lime, transparent),*/
    /*        linear-gradient(to top right, blue, transparent);*/
    /*background-blend-mode: screen;*/
    /* color: #000;*/
    /*color: var(--dark-color);*/
    &:before {
        font-size: 20vw;
        color: rgb(245 222 179 / 13%);
        /* position: absolute; */
        /* z-index: 164; */
        /* top: 0; */
        /* left: 0; */
        content: "work";
        text-transform: uppercase;
        font-weight: bolder;
        font-family: "Times New Roman";
        position: absolute;
        top: 13%;
    }

    .project {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 40rem;
        height: 24rem;
        background-image: linear-gradient(to right, #ff00bc, #00faff);
        border-radius: 0.5rem;
        background-color: #fff;
        padding: 3px;

        .project-img {
            background-image: linear-gradient(to right, #ff00a57a, #00ffe37d), url(calculator3.jpg);
            background-position: center;
            background-size: 102%;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
        }

        h2 {
            position: absolute;
            top: 10%;
            left: -20%;
            font-size: 4rem;
            font-weight: bolder;
            background-color: #ffffff70;
            padding: 0 20px;
            color: #a1ffce;
            /* margin: 20px 0 0 0; */
        }

        //&:before {
        //    content: '';
        //    position: absolute;
        //    top: 0; right: 0; bottom: 0; left: 0;
        //    z-index: -1;
        //    margin: -5px; /* !importanté */
        //    border-radius: inherit; /* !importanté */
        //    background-image: url("calculator.jpg");
        //    background-position: center;
        //    background-size: 102%;
        //    background-repeat: no-repeat;
        //}
    }

    .scene_cntnr {
        display: grid;
        //grid-template-columns: 12px 12px 12px;
        grid-template-rows: auto 6rem auto;

        .scene01 {
            //border: 1px solid #CCC;
            //margin: 40px 0;
            position: relative;
            //width: 210px;
            //height: 140px;
            //width: 40rem;
            //height: 24rem;
            width: 50vw;
            height: calc(50vw * (720 / 1280));
            margin: 80px auto;
            perspective: 1000px;
            align-self: end;

            #carousel01 {
                width: 100%;
                height: 100%;
                position: absolute;
                //transform: translateZ(-288px);
                transform-style: preserve-3d;
                transition: transform .5s;
                display: grid;
                justify-items: center;
                align-items: center;

                .carousel__cell {
                    line-height: 116px;
                    font-size: 80px;
                    font-weight: bold;
                    color: white;
                    text-align: center;
                    //transition: transform 1s, opacity 1s;
                    backface-visibility: hidden;
                    grid-row-start: 1;
                    grid-column-end: 1;
                    //width: calc(100% - 2rem);
                    //height: calc(100% - 2rem);
                    width: calc(100%);
                    height: calc(100%);
                    transform-style: preserve-3d;
                    background-color: transparent !important;


                    .cell-cntnt {
                        background-color: white;
                        color: #000;
                        //transition: transform .5s;
                        transition-property: transform, opacity;
                        transition-duration: .5s;
                        height: 100%;
                        //box-shadow: 0 0 13px rgb(0 0 0 / 32%);
                        //box-shadow: 0 0 36px -16px rgba(255, 0, 170, 0.8);
                        box-shadow: 0 0 36px -16px rgb(10 8 53);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        //background-image: linear-gradient(to right, #ff00a57a, #00ffe37d), url(calculator3.jpg);
                        //background-image: url(calculator/calculator.png);
                        //background-image: url("Photos Editing/Enhhad.png");
                        background-position: center;
                        background-size: 102%;
                        background-repeat: no-repeat;
                        //border-radius: 1.8rem;

                        &:after {
                            content: "";
                            //background-image: linear-gradient(to right, rgb(255 0 188 / 50%), transparent),
                            //linear-gradient(to right, transparent, rgb(0 250 255 / 50%));
                            //background-image: linear-gradient(45deg, rgba(255, 0, 188, 0.5) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(0, 250, 255, 0.5) 100%);
                            background-image: linear-gradient(45deg, rgba(255, 0, 188, 0.1) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(0, 250, 255, 0.1) 100%);
                            //background-blend-mode: screen;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            border-radius: inherit;
                        }

                        .cell-title {
                            position: absolute;
                            //top: 10%;
                            //left: -20%;
                            font-size: 4rem;
                            font-weight: bolder;
                            background-color: #ffffff70;
                            //padding: 0 20px;
                            color: #a1ffce;

                            line-height: 1;
                            padding: 5px 20px;
                            bottom: -20%;
                            left: 50%;
                            transform: translate(-50%, 0);
                            border-radius: 5px;
                            width: max-content;
                            // font-size: 1.8rem;
                            
                        }
                    }

                    .enhhad {
                        background-image: url("Photos Editing/Enhhad.png");
                    }
                    .configurator{
                        background-image: url("Photos Editing/Configurator.png");
                    }
                    .node_manager{
                        background-image: url("Photos Editing/node_manager.png");
                    }
                }

                .carousel__cell:nth-child(9n+1) {
                    background: hsla(0, 100%, 50%, 0.8);
                }

                .carousel__cell:nth-child(9n+2) {
                    background: hsla(40, 100%, 50%, 0.8);
                }

                .carousel__cell:nth-child(9n+3) {
                    background: hsla(80, 100%, 50%, 0.8);
                }

                .carousel__cell:nth-child(9n+4) {
                    background: hsla(120, 100%, 50%, 0.8);
                }

                .carousel__cell:nth-child(9n+5) {
                    background: hsla(160, 100%, 50%, 0.8);
                }

                .carousel__cell:nth-child(9n+6) {
                    background: hsla(200, 100%, 50%, 0.8);
                }

                .carousel__cell:nth-child(9n+7) {
                    background: hsla(240, 100%, 50%, 0.8);
                }

                .carousel__cell:nth-child(9n+8) {
                    background: hsla(280, 100%, 50%, 0.8);
                }

                .carousel__cell:nth-child(9n+0) {
                    background: hsla(320, 100%, 50%, 0.8);
                }

                .carousel-options {
                    text-align: center;
                    position: relative;
                    z-index: 2;
                    //background: hsla(0, 0%, 100%, 0.8);

                    button {
                        width: 49px;
                        height: calc(6rem * (720 / 1280));
                        background-color: #e0003e;
                        border: none;
                        color: #fff;
                    }
                }
            }
        }

        .scene02-cntnr {
            display: grid;
            grid-template-columns: repeat(2, 5rem);
            justify-content: center;
            align-items: center;
            height: calc(6rem * (720 / 1280));
            //margin: 10px auto;

            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(0, -50%);
            //width: 50vw;
            //background-image: linear-gradient(
            //                270deg,
            //                #00091f, rgb(0 19 64 / 0%)
            //);
            background-color: #dc0033;
            font-weight: bold;

            .scene02 {
                border-right: 1px solid var(--light-color);
                //margin: 40px 0;
                position: relative;
                //width: 210px;
                //height: 140px;
                //width: 40rem;
                //height: 24rem;
                width: 5rem;
                height: calc(5rem * (720 / 1280));
                perspective: 1000px;
                overflow: hidden;
                //align-self: end;

                #carousel02 {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    //transform: translateZ(-288px);
                    transform-style: preserve-3d;
                    transition: transform .5s;
                    display: grid;
                    justify-items: center;
                    align-items: center;

                    .carousel__cell {
                        line-height: 1;
                        font-size: 1.2rem;
                        font-weight: bold;
                        color: var(--light-color);
                        //text-align: center;
                        //transition: transform 1s, opacity 1s;
                        backface-visibility: hidden;
                        grid-row-start: 1;
                        grid-column-end: 1;
                        //width: calc(100% - 0.2rem);
                        //height: calc(100% - 0.2rem);
                        width: calc(100%);
                        height: calc(100%);
                        transform-style: preserve-3d;
                        background-color: transparent !important;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        padding: 0 5px;

                    }

                    .carousel__cell:nth-child(9n+1) {
                        background: hsla(0, 100%, 50%, 0.8);
                    }

                    .carousel__cell:nth-child(9n+2) {
                        background: hsla(40, 100%, 50%, 0.8);
                    }

                    .carousel__cell:nth-child(9n+3) {
                        background: hsla(80, 100%, 50%, 0.8);
                    }

                    .carousel__cell:nth-child(9n+4) {
                        background: hsla(120, 100%, 50%, 0.8);
                    }

                    .carousel__cell:nth-child(9n+5) {
                        background: hsla(160, 100%, 50%, 0.8);
                    }

                    .carousel__cell:nth-child(9n+6) {
                        background: hsla(200, 100%, 50%, 0.8);
                    }

                    .carousel__cell:nth-child(9n+7) {
                        background: hsla(240, 100%, 50%, 0.8);
                    }

                    .carousel__cell:nth-child(9n+8) {
                        background: hsla(280, 100%, 50%, 0.8);
                    }

                    .carousel__cell:nth-child(9n+0) {
                        background: hsla(320, 100%, 50%, 0.8);
                    }


                }
            }

            .cell-nmbr {
                height: calc(5rem * (720 / 1280));
                //border: 1px solid #fff;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 0 5px;
                font-size: 1.8rem;
            }
        }

        .carousel-options {
            text-align: center;
            //position: relative;
            z-index: 2;

            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(0, -50%);

            //background: hsla(0, 0%, 100%, 0.8);

            button {
                width: 49px;
                height: calc(6rem * (720 / 1280));
                //background-color: #e0003e;
                border: none;
                color: var(--light-color);
                cursor: pointer;
                font-weight: bold;
                //font-size: 2rem;
            }
        }


    }

}


/*.parallax__layer--base:before {*/
/*    !*background-image: var(--bg-color-03);*!*/
/*    background-image: var(--bg-color-02);*/
/*    width: 120%;*/
/*    height: 110%;*/
/*    content: "";*/
/*    position: absolute;*/
/*    filter: blur(18px);*/
/*    left: 50%;*/
/*    top: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*}*/

[data-layer-color="education"] {
    background-image: linear-gradient(180deg, #ff003b 0%, #ff006a 100%);
    animation: fadeInFromNone 1s 1;
}

// Portfolio contact

.parallax__layer--base2 {
    /*transform: translateZ(-1px) scale(2);*/
    transform: translateZ(0);
    /*background-color: rgb(12, 0, 76);*/
    /*background-color: #ff003b;*/

    /*background-image: linear-gradient(180deg, #ff003b 0%, #ff006a 100%);*/

    /*background-color: #FBDA61;*/
    /*background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);*/
    /*box-shadow: 10px 0 5px -2px #888;*/

    /*color: wheat;*/
    /*color: var(--dark-color);*/
    z-index: 21;
}

.parallax__layer--base2:before {
    background-image: var(--bg-color-03);
    width: 120%;
    height: 110%;
    content: "";
    position: absolute;
    filter: blur(18px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.parallax__layer--base2:after {
    content: 'contact';
    font-size: 20vw;
    color: rgb(245 222 179 / 6%);
    position: absolute;
    top: 13%;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: "Times New Roman";
}

[data-layer-color="langues"] {
    background-color: rgb(12, 0, 76);
    animation: fadeInFromNone 1s 1;
}

.parallax__layer--base3 {
    transform: translateZ(-1px) scale(2);
    background-color: var(--bg-color-04);
    z-index: 20;
    /*color: var(--dark-color);*/
}

[data-layer-color="contact-me"] {
    background-image: linear-gradient(180deg, rgb(243, 205, 178) 0%, rgb(243, 220, 178) 100%);
    animation: fadeInFromNone 1s 1;
}

.parallax__layer--base4 {
    transform: translateZ(0);
    /*background-color: rgb(255, 244, 0);*/
    /*background-color: rgb(243, 220, 178);*/

    /*background-image: linear-gradient(180deg, rgb(243, 205, 178) 0%, rgb(243, 220, 178) 100%);*/

    /*color: #0c0c4c;*/
    /*color: var(--dark-color);*/
    z-index: 21;
}

.parallax__layer--base4:before {
    background-image: var(--bg-color-05);
    width: 120%;
    height: 110%;
    content: "";
    position: absolute;
    filter: blur(18px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

// Portfolio .form-cntnr

.form-cntnr {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /*grid-template-rows: repeat(2, minmax(100px, auto));*/
    grid-template-rows: minmax(100px, auto);
    grid-gap: 20px;

    position: relative;
    z-index: 1;

    div {
        //background-color: #ff006a;
        //margin: 1px;
        //display: flex;
        //justify-content: center;
        //align-items: center;
        //border-radius: 3px;
    }

    .form-inputs-cntnr {
        //position: relative;
        display: grid;
        //grid-template-rows: min-content;
        align-content: center;
        justify-content: center;

        .form-inputs {
            position: relative;
            width: 40rem;

            .input-cntnr {
                position: relative;

                @-webkit-keyframes autofill {
                    0%, 100% {
                        color: inherit;
                        background: transparent;
                    }
                }

                input:-webkit-autofill,
                input:-webkit-autofill:hover,
                input:-webkit-autofill:focus,
                textarea:-webkit-autofill,
                textarea:-webkit-autofill:hover,
                textarea:-webkit-autofill:focus,
                select:-webkit-autofill,
                select:-webkit-autofill:hover,
                select:-webkit-autofill:focus {
                    -webkit-text-fill-color: #fbda61;
                    //-webkit-box-shadow: 0 0 0px 1000px #000 inset;
                    //transition: background-color 5000s ease-in-out 0s;
                    //-webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
                    //-webkit-animation-name: autofill;
                    //-webkit-animation-fill-mode: both;
                    -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
                    -webkit-transition-delay: 9999s;
                }

                input, textarea {
                    color: #fbda61;
                    width: 100%;
                    //border: none;
                    padding: 1rem;
                    margin-bottom: 4rem;
                    //border: 1px solid #fff;
                    border: none;
                    background-color: rgb(0 0 0 / 6%);
                    //background-color: transparent;
                    border-bottom: 1px solid var(--light-color);
                    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);

                    &:focus {
                        //border-bottom: 1px solid #e0003e;
                    }

                    &:focus ~ label,
                    &:valid ~ label {
                        top: -4rem;
                        font-size: 1rem;
                        //color: transparentize(var(--light-color), 0);
                        //color: var(--light-color);
                        opacity: 0.7;
                        letter-spacing: 2px;
                    }
                }

                textarea {
                    //border: 1px solid rgb(0 0 0 / 37%);
                }

                label {
                    color: var(--light-color);
                    position: absolute;
                    left: 0;
                    top: 0;
                    padding: 10px;
                    pointer-events: none;
                    transition: .2s;
                    text-transform: uppercase;
                    font-size: 1.2rem;
                    letter-spacing: 15px;
                }

            }

            input[type="submit"] {
                width: 100px;
                height: 40px;
                background-color: #e0003e;
                border: none;
                color: #fff;
                cursor: pointer;
            }

        }
    }


    .form-desc-cntnt {
        display: grid;
        grid-template-rows: min-content;
        //grid-template-rows: 20px;
        //grid-template-columns: 1fr;

        grid-auto-rows: min-content;
        align-content: center;
        grid-row-gap: 5px;

        p {
            //background-color: #00fff3;
            font-size: 1.6rem;
            color: rgb(245 222 179 / 79%);
            //color: #fff;
        }
    }

}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

//@media (min-width: 1281px) {
//
//
//}
//
///*
//  ##Device = Laptops, Desktops
//  ##Screen = B/w 1025px to 1280px
//*/
//
//@media (min-width: 1025px) and (max-width: 1280px) {
//
//
//}
//
///*
//  ##Device = Tablets, Ipads (portrait)
//  ##Screen = B/w 768px to 1024px
//*/
//
//@media (min-width: 768px) and (max-width: 1024px) {
//
//
//}
//
///*
//  ##Device = Tablets, Ipads (landscape)
//  ##Screen = B/w 768px to 1024px
//*/
//
//@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
//
//
//}
//
///*
//  ##Device = Low Resolution Tablets, Mobiles (Landscape)
//  ##Screen = B/w 481px to 767px
//*/
//
//@media (min-width: 481px) and (max-width: 767px) {
//
//
//}
//
///*
//  ##Device = Most of the Smartphones Mobiles (Portrait)
//  ##Screen = B/w 320px to 479px
//*/
//
//@media (min-width: 321px) and (max-width: 480px) {
//
//    //.parallax__layer--back {
//    //
//    //    display: block;
//    //}
//
//
//
//}
//
//@media (max-width: 320px) {
//
//}

/* ======================================

	MediaQuery-Reporter Styles

========================================= */


@media only screen and (min-width: 1024px) {
    //html {
    //    font-size: 0.8vw;
    //}
}


@media only screen and (max-width: 1010px) {

    .img_details_cntnr {
        grid-template-columns: 225px min-content;

        .portfolio_dtl {
            .name {
                left: 0;
            }
        }

    }
}


@media only screen and (max-width: 920px) {

    nav {

        width: 60vw;
        min-width: min-content;
        height: 100%;
        mix-blend-mode: unset;
        background-color: red;
        display: grid;
        justify-items: center;
        align-items: center;
        --dark: 60vw;
        left: calc(calc(var(--dark) * -1) - 5px);
        //left: 0;
        //display: none;
        li {
            list-style: none;
            display: grid;
            justify-items: center;
        }

        a {
            color: #000;
            padding: 0 10px;
            margin-left: 20px;
            margin-right: 20px;

            &.active {
                background-color: #00fff3;
            }
        }
    }

    .img_details_cntnr {
        grid-template-columns: minmax(250px, 300px) min-content;

        .portfolio_dtl {
            .name {
                left: -100px;
            }
        }

    }

}


@media only screen and (max-width: 760px) {
    .img_details_cntnr {
        grid-template-columns: 250px min-content;

        .portfolio_dtl {

            div {
                font-size: 2.1rem;
            }
            .name {
                //left: 0;
                font-size: 7.2rem;
            }
            .desc {
                width: 59vw;
                font-size: 1.5rem;
            }
        }

    }

    .parallax__layer--base {

        .scene_cntnr {
            
            .scene01 {
                width: 90vw;
                height: calc(90vw * (720 / 1280));

                #carousel01 {

                    .carousel__cell {

                        .cell-cntnt {

                            .cell-title {
                                font-size: 3rem;
                                //bottom: -30%;

                            }
                        }
                    }
                }
            }
        }
    }
    
}

:root {
    --dark: 10px;
}

@media only screen and (max-width: 700px) {


    .parallax__layer--back {
        //display: grid;
        //justify-items: center;
        //align-items: center;
    }

    .img_details_cntnr {
        width: 100vw;
        height: 80%;
        grid-auto-flow: row;
        grid-template-columns: minmax(250px, 80vw);
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        //font-size: 0.875rem;

        &::before {
            content: 'moha med';
            //writing-mode: vertical-lr;
            font-size: 56vh;
            left: 60%;
        }

        .portfolio_image {

            .img-box {
                left: 50%;
                top: 50%;
                width: 49%;
                height: 95%;
                transform: translate(-83%, -83%);
            }

            &::before {
                background-position: center;
            }
        }

        .portfolio_dtl {
            display: grid;
            align-items: center;

            .portfolio_dtl_sub_cntnr {
                display: grid;
                justify-items: center;
            }

            .name {
                font-size: 3.7rem;
                left: 0;
            }

            div {
                font-size: inherit;
            }

            .job {
                text-align: center;
            }
            
            .desc {
                width: inherit;
                font-size: inherit;
                text-align: center;
            }

        }

    }

    .form-cntnr {

        grid-template-columns: 1fr;
        /*grid-template-rows: repeat(2, minmax(100px, auto));*/
        //grid-template-rows: minmax(100px, auto);
        grid-template-rows: 1fr 1fr;
        //grid-auto-flow: column;
        grid-gap: 20px;

        .form-desc-cntnt {

            justify-content: center;

        }

    }

}

@media only screen and (max-width: 480px) {

    .form-cntnr {

        .form-inputs-cntnr {

            .form-inputs {

                width: 85vw;

            }

        }

    }

}

//:root {
//    --min-contento: 200px;
//}
//
//@media only screen and (max-width: var(--min-contento)) {
//
//    nav {
//
//        //--dark: 10px;
//        //left: calc(var(--dark));
//        left: 10px;
//    }
//}


//@media only screen and (min-width: 321px) {
//
//}







